<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Configuracion de Archivo JSON Segunda Pantalla</title>
    <link id="template-file" href="templates/template.ejs" rel="import" />
 <link href="dist/jsoneditor.css" rel="stylesheet" type="text/css">
      <link rel="icon" type="image/png" href="images/icono.png" />

       <script src="js/html-imports.min.js"></script>
     <style>
    html, body {
      font: 11pt sans-serif;
    }
    #jsoneditor {
      width: 500px;
      height: 500px;
    }
  </style>
</head>

<body>
     <script>

  document.addEventListener( 'HTMLImportsLoaded', function () 
    {
        var link = document.querySelector('#template-file');
        var template = link.import.querySelector('#template');
    document.body.appendChild(document.importNode(template, true));  



    } )

  </script>
    <div class="col-sm-12 col-md-12 main">
        <h1 class="page-header" id="page-header">Configuracion de Archivo JSON Segunda Pantalla</h1>
        <div class='row'>
            <div class='span12 col-md-12 columns twelve large-12'>
              <div id="error" class="alert alert-danger alert-dismissable fade in hidden">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
  </div>
                <form action="/jsonConf2Pantalla" method="post">
                 <p> <button class='btn btn-primary'  id='submit' type="submit">Actualizar</button></p>

                    <div class="form-group">
                        <label for="schema">Json De Configuración Segunda Pantalla</label>
                        <div id="schema" name='schema' ></div>
                         <input id='schema2' type='hidden' name='schema2' style='width: 100%; height: 450px; font-family: monospace;' class='form-control'></input>


                    </div>
                   
                </form>
            </div>
        </div>
    </div>
   
    <script src="dist/jsoneditor.js"></script>
         <script src='js/LZString.js'></script>
             <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script>
        (function() {
            var schema;
            schema = JSON.parse(LZString.decompressFromBase64('<%= json%>'));

            // Default starting schema

            if (!schema) {
                schema =    {IP_Servidor_Config:{ip:'localhost',url:"Titulo del Contenido a Visualizar",puertos:{socket:3000}},IP_Servidor_Chat_Broadcast:{ip:"localhpst",url:"Titulo del Contenido a Visualizar",puertos:{socket:3000}}}
            }
                
             var msm;
            msm = '<%= msm%>';
            // Default starting schema
            if (msm.localeCompare("OK") == 0) {
                var elDiv = document.getElementById('error');
                elDiv.style.display = 'none';
            } else {
                var elDiv = document.getElementById('error');
                elDiv.style.display = 'block';
            }
            // Divs/textareas on the page
            var editor = new JSONEditor(document.getElementById('schema'));
            editor.setText(JSON.stringify(schema, null, 2));

            var $set_schema_button = document.getElementById('submit');
                $set_schema_button.addEventListener('click',function() {
                try {
                    var $schema2 = document.getElementById('schema2');
                    $schema2.value = LZString.compressToBase64(editor.getText());
                }
                catch(e) {
                    alert('Invalid Schema: '+e.message);
                    return;
                }

                
            });

        })();
    </script>
</body>

</html>