<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mecanixs</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body style="text-align:center">

<button id="bbt">Sincronizar manualmente</button>
<input id="idpeli" type="text"></input>
     <div id='opciones'style="margin:0 auto;">
	<h2>Opciones a Escoger</h2>

     </div>
	<div id="username">
	    <input type="text" name="usernameTxt" /> <input type="button" name="setUsername" value="Set Username" />
	</div>
	<div id="sendChat" style="display:none;">
	    <input type="text" name="chatTxt" /> <input type="button" name="sendBtn" value="Send" />
	</div>
	<br />
	<div id="content" style="color: red;background: #D3D3D3"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="../javascripts/qart.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script>
 		var id_sala = "";
        
 		var escenasJson = null;
        var ip = <%- JSON.stringify(ipS1) %>;
        var puerto = <%- JSON.stringify(puertoS1) %>;
        var urlFinal = 'ws://'+ip+':'+puerto;
            var ip_chat = <%- JSON.stringify(ip_chat) %>;
        var puerto_chat = <%- JSON.stringify(puerto_chat) %>;
                var urlFinal_chat = 'ws://'+ip_chat+':'+puerto_chat;
       // alert("urlFinal: "+urlFinal);

 		//alert("urlFinal_chat: "+urlFinal_chat);
        var url = 'ws://' + 'localhost:9999'; //PONER URL FINAL

        var socket = io(urlFinal);
        //var socket = io(url); //PONER URL FINAL

        socket.on('connect', function() {
        });

        var url2 = 'ws://' + 'localhost:3000';///SERVIDOR SOCKET MODULO2 ....PONER EN EL JSON PUERTO 3001 MAS LA IP
	    //var socket2 = io(url2);
	    var socket2 = io(urlFinal_chat);
	    socket2.on('connect', function() {
	        console.log("Connected");
	    });    

        $(document).ready(function() {
	        var username = "anonymous";


	        $('input[name=setUsername]').click(function(){
	            if($('input[name=usernameTxt]').val() != ""){
	                username = $('input[name=usernameTxt]').val();
	                msg = "A new user is connected: " +username;
	                socket2.emit('message', {mensaje : msg, canal: id_sala}, function() {
		            	//alert("mensaje: "+msg);
		            	content.append(msg + '<br />');
			        });
	            }
	            $('#username').slideUp("slow",function(){
	                $('#sendChat').slideDown("slow");
	            });
	        });

	        var content = $('#content');
	 		
	        socket2.on('disconnect', function() {
	            console.log('disconnected');
	            content.html("<b>Disconnected!</b>");
	        });

	 
	        $("input[name=sendBtn]").click(function(){
	            var msg = ""+username + " : " +  $("input[name=chatTxt]").val();
	            socket2.emit('message', {mensaje : msg, canal: id_sala, url_imagen:"https://lumiere-a.akamaihd.net/v1/images/image_ccc4b657.jpeg"}, function() {
	            	//alert("mensaje: "+msg);
	            	content.append(msg + '<br />');
		        });
	            $("input[name=chatTxt]").val("");
	        });
	        socket2.on('broadcast', function(msg) {
	          //alert("broadcast: "+msg);
	          content.append(msg + '<br />');
	        });
	    });

        
        function enviarAccion() {
            var namespaceName = this.value ;
          //  alert(namespaceName)
            socket.emit('opcion_2c', {
                sala: id_sala,
                option: namespaceName
            });
            
        }

          function enviarinvitacion() {
                id_sala = document.getElementById("idpeli").value
               // alert(id_sala)
                socket.emit('crearSala', {
                    sala: id_sala
                });

                
	           var channel = id_sala;
	           socket2.emit('join', channel, function() {
	           	content.append('joined: ' + channel + '<br />');
	            
	           });
	       

                /*socket2.emit('session', {
	                sala: id_sala
	            }, function(data) {
	                //  $('#identificador').html(data.sala);
	            });*/
            
        }
        socket.on('confirmacion_join', function(data) {
            	          alert(JSON.stringify(data.contenido_transmedia));
            	       //   alert(data.contenido_transmedia);
	       		});
                socket.on('play', function(data) {
                        //  alert("play" + data.escenaCurrent);
                        
                });
                socket.on('imagen', function(data) {
                       //   alert("url: " + data);
                        
                });
        document.getElementById("bbt").addEventListener('click', enviarinvitacion);
        socket.on('op_second_screen', function(data) {
            //alert(data.pregunta)
        //alert(data.opciones)
var e=data.opciones;

            var op = document.getElementById("opciones");
            var padre = op.parentNode;
            padre.removeChild(op);
            op = document.createElement('div');
            op.id = 'opciones';
            op.style.margin = '0 auto';
            var h = document.createElement('h2');
            h.innerHTML = 'Opciones a Escoger';
            op.appendChild(h);
            for (i = 0; i < e.escenas.length; i++) {
                var nuevoBoton = document.createElement('button');
                nuevoBoton.type = 'button';
                nuevoBoton.value = e.escenas[i].Escena;
                 nuevoBoton.textContent = e.escenas[i].Name_Escena;
                nuevoBoton.addEventListener('click', enviarAccion);
                op.appendChild(nuevoBoton);
            }

            padre.appendChild(op);

        });
    </script>
    
</body>
</html>