<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Configuracion Server</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="../css/dashboard.css" rel="stylesheet" />
    <style>
        .dropdown-submenu {
            position: relative;
        }
        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }
    </style>
</head>

<body>
    <div id="template">
     <div class="navbar navbar-inverse navbar-static-top navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header col-sm-3 col-md-2">
                    <div class="col-xs-5 col-sm-12 col-md-12">
            <a class="navbar-brand" href="contenidos_subidos"><img src="../images/logo.png" class="img-responsive" alt="Mecanixs"></img></a>
       </div>
              <button type="button" class="navbar-toggle " data-toggle="collapse" data-target=".navbar-collapse">
        <div class="navbar-wrapper">
            <div class="container">

                <div class="navbar navbar-inverse navbar-static-top navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header col-sm-3 col-md-2">
                            <div class="col-xs-5 col-sm-12 col-md-12">
                                <a class="navbar-brand" href="contenidos_subidos"><img src="../images/logo.png" class="img-responsive" alt="Mecanixs"></a>
                            </div>
                            <button type="button" class="navbar-toggle " data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="contenidos_subidos">Administrar Contenidos</a></li>
                                <li><a href="subir_cont">Subir Contenidos</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Usuarios Conectados<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="total_usuarios">General</a></li>
                                        <li><a href="usuarios_sala">Por Sala</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Configuración<span class="caret"></span></a>
                                    <ul class="dropdown-menu">

                                        <li class="dropdown-submenu">
                                            <a class="test" tabindex="-1" href="#">Configurar JSON de Escenas<span class="caret"></span></a>
                                            <ul class="dropdown-menu">

                                                <li><a tabindex="-1" href="vista_json">Visualizar</a></li>
                                                <li><a tabindex="-1" href="config_json">Editar</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="test" tabindex="-1" href="#">Configurar JSON IP Servidores<span class="caret"></span></a>
                                            <ul class="dropdown-menu">

                                                <li><a tabindex="-1" href="vista_json_2_pantalla">Visualizar</a></li>
                                                <li><a tabindex="-1" href="config_json_2_pantalla">Editar</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="credenciales">Credenciales Admin</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/cerrar">Salir</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.dropdown-submenu a.test').on("click", function(e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });
    </script>
</body>

</html>